<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>Day 28- Burkstagram</title>

  <link rel="stylesheet" href="styles/main.css">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <script src="/bower_components/modernizr/modernizr.js"></script>

</head>
<body ng-app="app" ng-controller="submitController">


<header>
 <div>
  <i ng-click="expandMenuClick()" class="ion-plus-round"></i>
  <span>Burkstagram</span>
 </div>

 <div class="expand-menu" ng-show="menuHidden">
  <input type="url" ng-model="myImageUrl" placeholder="Image URL">
  <textarea type="text" ng-model="myImageCaption" placeholder="Image Caption"></textarea>
  <button ng-click="cancelClick()"> Cancel </button>
  <button class="submit-button" ng-click="submitClick(myImageUrl,myImageCaption)"> <i class="ion-image"> </i> Add Image </button>
 </div>
</header>

<section>
 <div ng-repeat="image in images" class="imagebox">
  <img ng-src="{{ image.imageURL }}">
  <h1> {{ image.imageCaption }} </h1>
 </div>


</section>

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/myControllers.js"></script>
</body>

</html>
